extends layout

block content
	//h1= title
	//p Welcome to #{title}
	div.main-container
		div.container-fluid
			div.row-fluid
				span.span12
					div.navbar.navbar-inverse
						div.navbar-inner
							a.brand pert-lit
							ul.nav.pull-right
			div.row-fluid
				span.span8.offset2
					div.well.well-1
						p.p-1
							b Send a message...
						div.row-fluid
							span.span12
								div
									textarea(placeholder="Enter message...").span12
								p.p-2 "We must be the change we wish to see in the world." -Gandhi
								button.btn.btn-primary.btn-large.pull-right Send Now
					div.well.well-1
						div.row-fluid
							span.span12
								div
									div.row-fluid
										spand.span6
											h4.heading How it works.
											p.4m ale aj na pružine v ktorom Jeho nenávisti v zmysle článku je podľa prisprostej diferenciálnej (nekonečne veľa šťastia zdravia a tak tie štvorce sa mohli by vedieť aká je však objektívne pravdy, ktorá nemení sa pohybuje konštantnou rýchlosťou
										span.span6
											h4.heading Wath the vide.
					div.row-fluid
						span12.span12