doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', media='screen')
	body
		block content
		script(data-main='javascripts/main', src='javascripts/vendor/require.js')
		//script(type='text/javascript', src='http://code.jquery.com/jquery-latest.js')
		//script(type='text/javascript', src='javascripts/bootstrap.min.js')